<!-- Search form -->
<form class="form-inline md-form form-sm active-cyan-2 mt-2" action="{% url 'search' %}">
    <select class="mdb-select md-form" id="s_type" name="s_type">
        <option value="" disabled selected>Chose your type</option>
        <option value="movie">Movie</option>
        <option value="tv">Tv Show</option>
    </select>
    <label class="mdb-main-label">Sub World</label>
    <input class="form-control form-control-sm mr-3 w-75" type="text" id="search" name="search"
           placeholder="Search"
           aria-label="Search">
    <button type="submit" class="btn btn-action"><i class="fas fa-search" aria-hidden="true"></i></button>
</form>
<!-- Search form -->

    <script>
        $(function () {
            $("#search").autocomplete({
                source: "{% url '_autocomplete' %}",
                minLength: 2,
            });
        });
    </script>