{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load socialaccount %}
{% block body %}
    <div class="container mt-5">


        <div class="card">
            <div class="card-img-top">
                {% if movie %}
                    <img src="{{ image_url.base_url }}/{{ poster_size.w500 }}{{ movie.backdrop_path }}"/>

                {% endif %}
            </div>
            <div class="card-body">
                {% if movie %}
                    <h3>{{ movie.title }}</h3>
                {% endif %}
            </div>
            <div class="card-footer">
                {% if not user.is_authenticated %}
                    <a class="btn btn-danger" href="{% url "account_login" %}">Login</a>
                {% else %}
                    <h4>{{ user }}</h4>
                {% endif %}
            </div>
        </div>
        <div class="card m-3 p-2">

            <form class="form-elegant z-depth-1 range-field" method="post" action="{% url 'sub-upload' %}">
                {% csrf_token %}
                {{ form.media }}
                {% render_field form.user class="form-control" type="hidden" value=user.id %}
                {% render_field form.db_id class="form-control" value=movie.id type="hidden" %}
                {% render_field form.title class="form-control" value=movie.title %}
                {% render_field form.language class="mdb-select md-form" searchable="search here" %}
                <input id="duration_hour" , class="no-border" type="range" value="0" min="0" max="6"/>
                <input id="duration_min" , class="no-boarder" type="range" value="0" min="0" max="60"/>
                <div id="run_time_label">00:00</div>
                {% render_field form.run_time class="form-control disabled" type="hidden"%}
                <div class="file-upload-wrapper">
                    {% render_field form.sub_file class="file-upload" %}
                </div>
                {% render_field form.comment class="form-control" %}
                <button class="btn btn-success" type="submit">Upload</button>
            </form>

        </div>

    </div>
{% endblock %}


{% block script %}

    <script>
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
            {#$('.file-upload').file_upload();#}
        });

    </script>
    <script>
        $(document).ready(function () {
            var slider_hour = $('#duration_hour');
            var slider_min = $('#duration_min');
            var run_time_label = $('#run_time_label');
            var run_time = $('#id_run_time');

            function calculate(hour, min) {
                run_time_label.text(hour + ":" + min);
                hour = parseInt(hour);
                min = parseInt(min);

                let total = (hour * 60) + min;
                run_time.val(total);
            }

            slider_hour.on("input change", function (e) {
                calculate($(this).val(), $(slider_min).val());
            });
            slider_min.on("min change", function (e) {
                calculate($(slider_hour).val(), $(this).val());
            });
        });
    </script>
{% endblock %}