{% extends 'base/base.html' %}
{% load static %}
{% load django_tables2 %}

{% block body %}
    <div class="row">
        <div class="col-4">
            {% include 'base/search_side_bar.html' %}
        </div>
        <div class="col-8">
            <div class="container mt-5">
                <section class="p-5 mt-3" id="searchbar">
                    {% include 'base/search_bar.html' %}
                </section>

                <div class="row">
                    {% for info in lists.results %}
                        {% if info.media_type == 'movie' or info.media_type == 'tv' %}
                            <!-- Card Wider -->
                            <div class="card card-cascade wider col-md-4 col-sm-6">

                                <!-- Card image -->
                                <div class="view view-cascade overlay">
                                    <img class="card-img-top" src="{{ image_base.base_url }}/{{ backdrop_size.w780 }}{{ info.backdrop_path }}"
                                         alt="{{ info.title }}{{ info.name }}">
                                    <a href="{% if info.media_type == "movie" %}{% url 'movie_detail' info.id %}{% elif info.media_type == "tv" %}{% url 'tv_detail' info.id %}{% endif %}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center">

                                    <!-- Title -->
                                    <h4 class="card-title h4-responsive"><strong>{{ info.title }}{{ info.name }}</strong></h4>
                                    <!-- Subtitle -->
                                    <h5 class="blue-text pb-2"><strong>{{ info.media_type }}</strong></h5>
                                    <!-- Text -->
                                    <p class="card-text">{{ info.release_date }}{{ info.first_air_date }} </p>

                                    <a class="btn btn-pink"
                                       href="{% if info.media_type == "movie" %}{% url 'movie_detail' info.id %}{% elif info.media_type == "tv" %}{% url 'tv_detail' info.id %}{% endif %}">
                                        <i class="fas fa-clone left"></i> Download Subtitle</a>
                                </div>

                            </div>
                            <!-- Card Wider -->
                        {% endif %}
                    {% endfor %}
                    {% if paginator.has_other_pages %}
                        {% include 'base/pagination.html' %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
