{% extends 'parts/base.html' %}
{% load static %}
{% load django_tables2 %}

{% block body %}
    <div class="row">
        <div class="col-4">
            {% include 'parts/search_side_bar.html' %}
        </div>
        <div class="col-8">
            <div class="container mt-5">
                <section class="p-5 mt-3" id="searchbar">
                    {% include 'parts/search_bar.html' %}
                </section>
                <div class="col-md-12">
                    <ul class="list-group">
                        {% for info in lists.results %}
                            <a href="{% url 'tv_detail' info.id %}">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img src="{% static 'main/img/lightbox/loading.gif' %}"
                                                 data-src="{{ image_base.base_url }}/
                                                         {{ poster_size.w154 }}{{ info.poster_path }}"
                                                 alt="{{ info.name }}{{ info.title }}"
                                                 class="img-thumbnail thumb lazy"/>
                                        </div>
                                        <div class="col-md-9">
                                            <h3 class="title h3-responsive">
                                                {% if info.name %}{{ info.name }}{% else %}{{ info.title }}{% endif %}
                                            </h3>
                                            {% if info.name != info.original_name %}
                                                <h6 class="sub-title">
                                                    {{ info.original_name }}
                                                </h6>
                                            {% endif %}
                                            {% if info.title != info.original_title %}
                                                <h3 class="sub-title">
                                                    {{ info.original_title }}
                                                </h3>
                                            {% endif %}
                                            {% if info.first_air_date %}
                                                <h4 class="h4-responsive">{{ info.first_air_date }}</h4>
                                            {% else %}
                                                <h4 class="h4-responsive">{{ info.release_date }}</h4>
                                            {% endif %}
                                            <div class="">
                                                {{ info.vote_average }}({{ info.vote_count }})
                                            </div>
                                            <p class="description">{{ info.overview|truncatechars:255 }}</p>
                                        </div>
                                    </div>
                                </li>
                            </a>
                        {% endfor %}
                    </ul>
                    {% if paginator.has_other_pages %}
                        {% include 'parts/pagination.html' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
