{% extends 'base/base.html' %}
{% load sub_extras %}
{% block nav %}
    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg double-nav"
         xmlns:https="http://www.w3.org/1999/xhtml">
        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn mr-auto">
            <p>Material Design for Bootstrap</p>
        </div>
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-envelope"></i> <span class="clearfix d-none d-sm-inline-block">Contact</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-comments-o"></i> <span class="clearfix d-none d-sm-inline-block">Support</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link"><i class="fa fa-user"></i> <span
                        class="clearfix d-none d-sm-inline-block">Account</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block body %}

    <section class="mt-5 m-3 p-3" id="popular_header">
        <div class="row">
            <div class="col-4 pr-0">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for now in nowplaying %}
                        <a class="list-group-item list-group-item-action {% if forloop.first %}active{% endif %}"
                           id="list_{{ now.id }}_list" data-toggle="list" href="#list_{{ now.id }}"
                           role="tab" aria-controls="{{ now.title }}">{{ now.title }}<br/>
                            <small>{{ now.original_title }} </small>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-8 pl-0">
                <div class="tab-content p-0 h-100" id="nav-tabContent">
                    {% for now in nowplaying %}
                        <div class="tab-pane h-100 fade {% if forloop.first %}active show{% endif %}"
                             id="list_{{ now.id }}" role="tabpanel"
                             aria-labelledby="list_{{ now.id }}_list">
                            <div class="row pb-2 pt-3 wow fadeIn"
                                 style="background-image: url('https://image.tmdb.org/t/p/original{{ now.backdrop_path }}'); background-repeat: no-repeat; background-size: cover; background-position: center top">

                                <!-- First column -->
                                <div class="col-lg-3">

                                    <!-- Image -->
                                    <div class="view overlay mb-3 z-depth-1">

                                        <img src="https://image.tmdb.org/t/p/w500{{ now.poster_path }}"
                                             class="img-fluid z-depth-1" alt="Post Image">

                                        <div class="mask rgba-white-slight"></div>

                                    </div>
                                    <!-- Image -->

                                </div>
                                <!-- First column -->

                                <!-- Second column -->
                                <div class="col-lg-9 add-margins-2">

                                    <!-- Excerpt -->
                                    <h3 class="h3-responsive text-uppercase mb-3 font-weight-bold"><a href="#"
                                                                                                      class="text-white"
                                                                                                      style="text-shadow: 2px 2px 8px #000000">{{ now.title }}</a>
                                        <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">{{ now.release_date }}</span>
                                        </h2>
                                        <div class="progress md-progress" style="height: 20px">
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ now.vote_average|multiply:10 }}%; height: 20px"
                                                 aria-valuenow="{{ now.vote_average }}" aria-valuemin="0"
                                                 aria-valuemax="10">{{ now.vote_average }}</div>
                                        </div>
                                        <p>{% for genre_id in now.genre_ids %}
                                            <a class="btn btn-light-blue" href="#">{{ genre_id|get_genre:genre }}</a>
                                        {% endfor %}
                                        </p>
                                        <p class="grey-text-3 text-justify rgba-black-strong text-white p-3"
                                           style="height: 150px;">{{ now.overview|truncatechars:255 }}</p>
                                        <button class="btn btn-primary">Read More</button>

                                        <!-- Excerpt -->
                                </div>

                                <!-- Second column -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="p-5">
        <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
    <span class="input-group-text grey lighten-2" id="basic-text1">
        <i class="fas fa-search text-white" aria-hidden="true"></i></span>
            </div>
            <input class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
        </div>
    </section>
    <section class="yellow" id="most_watch">

        <h1 class="h1-responsive">Most Movie Watch</h1>
    </section>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('.min-chart#chart-vote').easyPieChart({
                barColor: "#4caf50",
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
        });

    </script>
{% endblock %}