{% extends 'parts/base.html' %}
{% load sub_extras %}
{% load static %}
{% block keywords %}
    {% for keyword in keywords %}{% for key in keyword.keywords %}{{ key.name }}, {% endfor %}{% endfor %}
{% endblock %}
{% block body %}
    <section class="p-5" id="searchbar">
        {% include "parts/search_bar.html" %}
    </section>
    <section>
    <div class="row">
        <div class="container col-md-8">
            <div class="row">
                {% for popular in populars %}
                    <!-- Image overlay card -->
                    <div class="col-sm-4 col-md-3 mt-3">
                        <div class="card card-image">
                            <div class="view overlay zoom">
                                <img class="card-img-top lazy"
                                     src="{% static 'main/img/lightbox/loading.gif' %}"
                                     data-src="{{ image_base.base_url }}/{{ poster_size.w185 }}{{ popular.poster_path }}"
                                     alt="{{ popular.title }}">
                                <a href="{% url 'movie_detail' popular.id %}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% include 'parts/pagination.html' %}
            </div>
        </div>

        <div class="col-md-4">
            <h4>Resent Subtitles</h4>
            <div class="list-group">
                {% for subtitle in subtitles %}
                    <a href="{% url 'movie_detail'  subtitle.db_id %}"
                       class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-9">
                                <i class="{{ subtitle.language.iso_language_name }} flag"></i>

                                {{ subtitle.title }}<span
                                    class="badge-info">{{ subtitle.upload_date.year }}</span>
                            </div>
                            <div class="text-right badge-success col-3">{{ subtitle.user }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div></div></section>
{% endblock %}

{% block script %}
    <script>
        // Material Select Initialization
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });

        $(function () {
            $('.min-chart#chart-vote').easyPieChart({
                barColor: "#4caf50",
                onStep: function (from, to, percent) {
                    $(this.el).find('.percent').text(Math.round(percent));
                }
            });
        });
{% endblock %}