{% extends 'base/base.html' %}

{% block title %}
  Database check
{% endblock %}

{% block content %}
  {% if user.is_staff or user.is_superuser %}
  <div class="container-fluid">
    <h1>Check Database</h1>

    <div class="row">
      {% for data in database %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h6 class="h6-responsive">
                {{ data.name }} : {{ data.count }}
              </h6>
            </div>
            <div class="card-body">
              {% for queryset in data.queryset %}
                <li class="list-group-item small p-1"> {{ queryset.id }}: {{ queryset }}</li>
              {% endfor %}

            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="container text-center">
      <form action="{% url 'check-db' %}" class="form" method="POST">
        {% csrf_token %}
        <select class="mdb-select md-form" name="db_type" id="id_db_type" aria-label="db_type">
          <option value="" disabled selected>Choose Db Type</option>
          <option value="genre">Genre</option>
          <option value="country">Country</option>
          <option value="company">Company</option>
          <option value="language">Language</option>
          <option value="movie">Movie</option>
          <option value="person">Person</option>
          <option value="keyword">Keyword</option>
          <option value="network">Network</option>
          <option value="tv">Tv</option>
          <option value="collection">collection</option>
        </select>
        <button type="submit" class="btn btn-primary">Check DB</button>
      </form>
    </div>
  <div class="container text-center">
    <a href="{% url 'no-data' %}" class="btn btn-primary">Initialize No Data</a>
  </div>

  </div>
    {% else %}
    <div class="login">
    <h3>Login</h3>
    </div>
  {% endif %}

{% endblock %}

{% block script %}
  <script type="text/javascript">

      $(document).ready(function () {
          $('.mdb-select').material_select();
      });
  </script>
{% endblock %}